@import url("page-init.css");

body {
    padding-bottom: 3rem;

    background: rgb(255, 255, 255);
}

h2 {
    border: 0;
    padding: 0;
    margin: 1rem 2rem;
}

h2 > img {
    width: 2em;
    vertical-align: middle;
}

h2 > span {
    float: right;
}

div.event-details {
    width: 800px;
    height: 100%;
    margin: auto;
    padding-top: 2rem;

    position: relative;
}

div.event-photo {
    width: 100%;
    height: 25rem;
    background: #444444;
}

div.event-details > h2 {
    border: 0;
    margin: 0;
    padding-top: 2rem;
}

p.detail-main {
    font-size: 1.2rem;
}

p.detail-main img {
    width: 1.75em;
    vertical-align: middle;
    margin-right: .5rem;
}

div.event-details > a {
    text-decoration: none;
}

a#return-button {
    position: absolute;
    bottom: 0;
    right: 0;

    color: #666666;
}

a#return-button:hover {
    color: rgb(25, 146, 62);
}

a#reserve-button {
    display: inline-block;

    margin-top: 1rem;
    padding: .75rem 2rem;

    border-radius: 1.75rem;
    background: rgb(25, 146, 62);
    color: #FFFFFF;
}