@import url("page-init.css");

body {
    background: rgb(252, 252, 252);
}

h2 {
    border: 0;
    padding: 0;
    margin: 1rem 2rem;
}

h2 > img {
    width: 2em;
    vertical-align: middle;
}

h2 > span {
    float: right;
}

div.event-grid {
    width: 1000px;
    margin: auto;
    padding-top: 2rem;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.event-grid a {
    width: 49%;
    margin-bottom: 2%;

    text-decoration: none;
    color: #FFFFFF;
}

div.event-item {
    width: 100%;
    height: 20rem;
    box-shadow: 0 .1rem .25rem .05rem rgba(0, 0, 0, .1);

    position: relative;

    overflow: hidden;

    background: #999999;
}

div.event-details {
    width: 100%;
    height: 35%;
    background: rgba(0, 0, 0, .5);

    position: absolute;
    bottom: -18%;
    padding: 1rem;

    overflow: hidden;

    transition: all .3s ease;
}

div.event-grid a:hover div.event-details {
    bottom: 0;
}

div.event-details > p {
    margin: 0;
}

p#title {
    max-width: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p#date,
p#location {
    font-size: .9rem;
    position: absolute;
    bottom: 1rem;
}

p#date {
    left: 1rem;
}

p#location {
    float: right;
    right: 1rem;

    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.event-details > p > img {
    width: 1.5em;
    vertical-align: middle;
}

