html {
    font-family: 'Segoe UI', sans-serif;
    font-size: 100%;
    
    height: fit-content;

    color: #333333;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: rgb(199, 199, 199);
    height: 100%;

    position: relative;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    border-left: .1em solid rgb(25, 146, 62);
    padding: .5rem 0 .5rem 1rem;
}