@import url("page-init.css");

body {
    display: grid;
    align-content: center;

    overflow-x: auto;
    margin: 3rem 0;
}

div.info-fields {
    width: 600px;
    margin: auto;
    padding: 2rem;

    position: relative;

    background: #FFFFFF;

    display: flex;
    flex-direction: column;

    border-radius: .15rem;
    box-shadow: 0 0 .5rem .1rem rgba(0, 0, 0, .2);
}

div.info-fields > h3 {
    margin: 0;
    border-left: 2px solid rgb(25, 146, 62);
    padding: .5rem 1rem;
}

div.info-fields p {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

p#allergies {
    margin-bottom: .5rem;
}

div.half-field-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.half-field {
    display: inline-block;
    justify-content: space-between;
    width: 49%;
}

div.contact-no {
    width: 40%;
}

div.email {
    width: 58%;
}

input[type=text],
select,
input[type=date] {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    padding: 0 .25rem .25rem;
    line-height: 1.5rem;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: .1rem solid #CCCCCC;

    color: #666666;
}

select {
    font-family: 'Segoe UI', sans-serif;
    padding: .36rem;
}

select[name=sex] option {
    border: 1px solid rgb(25, 146, 62);
}

div.info-fields span {
    line-height: 1.5rem;
    font-size: .9rem;
    color: #999999;
}

div.info-fields input[name=contact-number] {
    font-family: 'Segoe UI', sans-serif;
    width: 85%;
    float: right;
}

input:focus,
select:focus {
    outline: none;
    border-bottom: .1rem solid rgb(25, 146, 62);
}

label {
    margin-right: 2rem;
    cursor: pointer;

    font-size: .85rem;
}

div.info-fields label:nth-child(1) {
    margin-left: 5rem;
}

input[type=checkbox] {
    display: none;
}

span.check {
    width: 1rem;
    height: 1rem;
    top: -.1rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: .25rem;
    border: .1rem solid rgb(25, 146, 62);
}

input[type=checkbox]:checked + span.check {
    background-image: url("../images/success.png");
    background-size: cover;
}

p#allergy-other {
    font-size: .85rem;
    margin: .5rem 0 0;
}

button[type=submit] {
    position: relative;
    float: right;
    background: rgb(25, 146, 62);
    padding: 1rem 5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 2rem;
    margin-top: 2rem;
    color: #FFFFFF;
    cursor: pointer;
}

a#go-back {
    position: absolute;
    bottom: 2rem;

    text-decoration: none;
    color: #777777;
}

a#go-back:hover {
    color: rgb(25, 146, 62);
}