div.top-bar{
    width: 100%;
    position: fixed;
    background: rgb(25, 146, 62);
    color: #FFFFFF;

    padding: .5rem 2rem;
    z-index: 5;

    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, .2);
}

div.label-box {
    position: absolute;
    margin: auto;
    width: fit-content;
    margin-left: 2.5rem;
    /*max-width: 5rem;*/
}

p.page-label {
    vertical-align: middle;
    margin: 0;

    font-size: 1.3rem;
}

input {
    display: none;
}

/*---------------
FOR USER ACC MENU
---------------*/

label.account-menu {
    float: right;
}

div.menu-button {
    width: 10px;
    height: 10px;
    margin: 10px 0;
    background: url("../images/arrow.png");
    background-size: cover;

    float: right;

    transition: all .25s linear;
}

label.account-menu input:checked ~ div.menu-button {
    transform: rotateX(180deg);
}


div.menu {
    position: absolute;
    display: grid;
    flex-direction: column;
    background: #EEEEEE;
    border-radius: .2rem;

    top: 3rem;
    right: 2rem;

    max-height: 0px;
    overflow: hidden;

    transition: all .4s ease-in-out;
}

label.account-menu input:checked + div.menu {
    max-height: 300px;
    padding: .25rem 0;
    box-shadow: 0 0 .5rem .05rem rgba(0, 0, 0, .1);
}

div.menu a {
    padding: .75rem 2.1rem;
    text-decoration: none;
    color: #333333;
}

div.menu a:hover {
    background-color: rgba(0, 0, 0, .1);
}

p.username {
    display: inline;
    vertical-align: middle;
    padding-right: .5rem;
}

label.account-menu:hover p.username,
label.account-menu input:checked ~ p.username {
    text-decoration: underline;
}

/*--------------
NAVIGATION MENU
--------------*/

/* hamburger icon look */

div.hamburger-menu {
    display: grid;
    align-self: auto;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: .15rem;
    cursor: pointer;

    background: url("../images/hamburger.png");
    background-size: cover;

    transition: all .1s .55s ease;
}

label.navigation-menu input:checked ~ div.hamburger-menu {
    background: url("../images/close.png");
    background-size: cover;
}

/* hamburger menu look */

div.navigation-items {
    background: rgb(25, 146, 62);
    position: absolute;
    border-radius: .2rem;
    top: 3rem;
    padding: 0;

    display: flex;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;
    
    z-index: 1;

    transition: all .5s ease-in-out;
}

/*
div.navigation-items:hover {
    transform: scale(1.1);
} */

div.navigation-items a {
    text-decoration: none;
    color: #FFFFFF;
    padding: .75rem 5rem .75rem 2rem;
}

div.navigation-items a:hover {
    background-color: rgba(255, 255, 255, .1);
}

label.navigation-menu input:checked ~ div.navigation-items {
    padding: .25rem 0;
    max-height: 500px;
    box-shadow: 0 .3rem 1rem .05rem rgba(0, 0, 0, .1);
}